<% locked ||= false %>

<table cellpadding="0" cellspacing="0" border="0" style="float: right;">

<tr><th>Product</th><th>Description</th><th>Price</th><th>Quantity</th>
<% unless locked %>
  <th>Remove</th>
<% end %>
<th>Subtotal</th>
</tr>

<% for basket_item in @current_basket.basket_items %>
<tr>

  <td valign="top" class="border">
    <% if basket_item.voucher? %>
      <% image_url = "footer_gift_vouchers.gif" %>
    <% elsif basket_item.donation? %>
      <% image_url = "footer_gift_wishlists.gif" %>
    <% elsif basket_item.product.product_images.length > 0 %>
      <% image_url = basket_item.product.product_images.sort_by{|x| x.position}.first.image.url(:tiny) %>
    <% else %>
      <% image_url = "no_image.gif" %>
    <% end %>
    <%= link_to image_tag(image_url), basket_item.product %>  </td>

<td valign="top" class="border">
    <% if basket_item.basket_item_type == 0 %>
      <%= link_to "#{basket_item.product.brand.name} - #{basket_item.product.name}", basket_item.product, {:class=>"product_name_basket"} %>
    <% elsif basket_item.voucher? %>
      <%= basket_item.voucher_summary %>
      <br />
      <%= link_to '[ edit ]', edit_basket_item_path(basket_item) %>
    <% elsif basket_item.donation? %>
      <%= basket_item.donation_summary %>
      <br />
      <%= link_to '[ edit ]', edit_donation_basket_item_path(basket_item) %>
    <% end %>
    <br />
    <% if basket_item.basket_item_type == 0 %>
      <span class="product_code"><%= basket_item.product.product_code %></span>
    <% end %>
  </td>

  <td valign="top" class="border">
    <span class="price">
      <% if basket_item.non_physical? %>
        <%= number_to_pounds basket_item.value %>
      <% elsif basket_item.product.sale %>
        <del><%= number_to_pounds basket_item.product.price %></del>
        <%= number_to_pounds basket_item.product.sale_price %>
      <% else %>
        <%= number_to_pounds basket_item.product.price %>
      <% end %>
    </span>
  </td>

  <td class="border" valign="top" nowrap="nowrap">
    <span class="price" style="float: left; display: inline; margin-right: 8px;"><%= basket_item.amount %></span>
    <% unless locked || basket_item.non_physical? %>
      <%= link_to image_tag('increase.gif'), :action => "increase", :basket_item_id => basket_item.id %>
      <%= link_to image_tag('decrease.gif'), :action => "decrease", :basket_item_id => basket_item.id %>
    <% end %>  </td>

<% unless locked %>
    <td class="border" valign="top">
      <%= link_to image_tag('remove.gif'), :action => "remove", :basket_item_id => basket_item.id %>
    </td>
<% end %>

  <td valign="top"><span class="price"><%= number_to_pounds basket_item.subtotal %></span></td>

</tr>
<% end %>

<% span = locked ? 2 : 3 %>

<tr>
  <td colspan="<%= span %>" class="black_border"></td>
  <td colspan="2" valign="top" class="black black_border font_grey">Product Subtotal:</td>
  <td  valign="top" class="black black_border font_med"><%= number_to_pounds @current_basket.products_subtotal %></td>
</tr>

<% if @current_basket.gift_wrap? && !current_basket.non_deliverable? %>
<tr>
  <td colspan="<%= span %>"></td>
  <td colspan="2" valign="top" class="black font_grey">Gift Wrap:</td>
  <td  valign="top" class="black font_med"><%= number_to_pounds @current_basket.gift_wrap_subtotal %></td>
</tr>
<% end %>

<% if @current_basket.promo_code && !current_basket.non_deliverable? %>
<tr>
  <td colspan="<%= span %>"></td>
  <td colspan="2" valign="top" class="black font_grey"><%= @current_basket.promo_code.name %>:</td>
  <td valign="top" class="black font_med">-<%= number_to_pounds @current_basket.discount_subtotal %></td>
</tr>
<% end %>

<% if @current_basket.delivery_summary && !current_basket.non_deliverable? %>
<tr>
  <td colspan="<%= span %>"></td>
  <td colspan="2" valign="top" class="black font_grey"><%= @current_basket.delivery_summary %>:</td>
  <td valign="top" class="black font_med"><%= number_to_pounds @current_basket.delivery_subtotal %></td>
</tr>
<% end %>

<% if @current_basket.credit > 0 && locked %>
<tr>
  <td colspan="<%= span %>"></td>
  <td colspan="2" valign="top" class="black font_grey">
    Credit: <%= link_to "[ edit ]", {:action => "remove_credit"}, :title => "Edit Credit", :class=>"white_link" %>
  </td>
  <td valign="top" class="black font_med">-<%= number_to_pounds @current_basket.credit %></td>
</tr>
<% end %>

<tr>
  <td colspan="<%= span %>"></td>
  <td colspan="2" valign="top" class="black white_border font_large">ORDER TOTAL:</td>
  <td valign="top" class="black white_border font_large font_yellow"><%= number_to_pounds @current_basket.total %></td>
</tr>

<% unless locked %>

<% unless current_basket.non_deliverable? %>
<tr>
  <td colspan="6">
    <div align="right">
    <% if @current_basket.promo_code %>

      <h2>
      Code Entered: <%= @current_basket.promo_code.code %>
			<%= link_to image_tag("remove.gif"), {:action => "remove_promotional_code"}, {:title => "Remove this code", :style=>"float: right; margin: 0px -25px 0px 10px;"} %>

      </h2>

    <% else %>

      <% form_for @current_basket, :url => {:action => "set_promotional_code"} do |f| %>
      <span class="font_grey" style="margin-right: -25px;">If you have a discount code please enter here:</span><br />
        <%= text_field_tag "promo_code", params[:promo_code], :class=>"med" %><%= f.submit "Enter Code", :style=>"float: right; margin-right: -25px;" %>
      <% end %>

    <% end %>
    </div>
  </td>
</tr>
<% end %>

<% end %>

<tr>
  <td colspan="<%= span %>"></td>
  <td colspan="3" class="checkout">

  <% if locked %>

    <% if @current_basket.orderable? %>

      <% if @current_basket.credit_payment_valid? %>

        <% form_tag :action => "credit_payment" do %>
          <p align="right">
            <%= check_box_tag :terms_and_conditions, "1", false, :class => "checkbox", :onclick => "checkTermsAndConditions();" %>
            I accept the <%= link_to "terms and conditions", url_for(PageNode.terms_and_conditions.path), :popup => true %>
          </p>
          <p align="right">
            <%= submit_tag "Place Order", :class => "checkout_button", :disabled => true, :id => "credit_button" %>
          </p>
        <% end %>

      <% else %>
        <!--
        <% form_tag Sagepay.live_url do %>
          <%= hidden_field_tag "VPSProtocol", Sagepay.vps_protocol %>
          <%= hidden_field_tag "Crypt", @crypt %>
          <%= hidden_field_tag "TxType", Sagepay.tx_type %>
          <%= hidden_field_tag "Vendor", Sagepay.vendor %>

				  <p align="right">
            <%= check_box_tag :terms_and_conditions, "1", false, :class => "checkbox", :onclick => "checkTermsAndConditions();" %>
            I accept the <%= link_to "terms and conditions", url_for(PageNode.terms_and_conditions.path), :popup => true %>
          </p>

          <p>
            <%= submit_tag "Pay with SagePay", :disabled => true, :id => "sagepay_checkout_button", :class => "checkout_button" %>
          </p>

        <% end %>
        -->
      <% end %>

    <% end %>

  <% else %>

	  <% form_tag({:action => "begin_checkout"})  do %>
      <%= submit_tag "Checkout", :disabled => (@current_basket.empty? ? true : false), :class => "checkout_button" %>
    <% end %>

    <% if session[:product_search] %>
      <% destination = session[:product_search] %>
    <% else %>
      <% destination = products_path %>
    <% end %>
    <%= link_to "Continue Shopping", destination, {:class=>"continue_shopping"} %>

  <% end %>

  </td>
</tr>

</table>

<p align="right" class="clear" style="padding-top: 25px;"><%= image_tag "payment_icons.gif", :alt=>"Accepted Payment Types" %></p>
