<div class="order_item">
<p>

  Product: 
  <% if Product.exists?(order_item.product_id) %>
    <%= link_to order_item.product_name, edit_admin_product_path(order_item.product) %>
  <% else %>
    <%= order_item.product_name %>
  <% end %>
  
  <% if order_item.item_type == 1 %>
    <br />
    Voucher Code: <%= order_item.code %>
    <br />
    Message: <%= order_item.message %>
    <br />
    Delivery Type: <%= order_item.delivery_type %>
    
    <% if order_item.try("used?") %>
      Voucher Used: True<br />
      Name of Voucher User: <%= order_item.users_name %><br />
    <% end %>
  <% end %>
  
  <% unless order_item.class == BasketItem %>
    <br />
    
    Amount: 
    <%= order_item.amount %>
    
    <br />
    
    <%= number_to_pounds order_item.subtotal %>
  <% end %>
  
</p>
</div>
