<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>

<% hide_right %>
<% hide_left %>

<h1 class="<%= @page_node.stylesheet %>"><%= title @page_node.active_content.name %></h1>

<div class="be_part_of_it">
	<div style="margin-left: 0px;">
		<%= @page_node.active_content.be_part_of_it_content_1 %>
    </div>
    <div>
		<%= @page_node.active_content.be_part_of_it_content_2 %>
    </div>
    <div style="margin-right: 0px;">
		<%= @page_node.active_content.be_part_of_it_content_3 %>
    </div>
    <div style="margin-left: 0px;">
		<%= @page_node.active_content.be_part_of_it_content_4 %>
    </div>
    <div>
		<%= @page_node.active_content.be_part_of_it_content_5 %>
    </div>
    <div style="margin-right: 0px;">
		<%= @page_node.active_content.be_part_of_it_content_6 %>
    </div>
</div>
